{% extends 'base.html' %}
{% load static %}
{% block cta %}
<div class="container hero">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>Exceptional Medical Advice for All Ages.</h1>
<!--                <p> At our Medical Center-->
<!--                    we combine world class medicine-->
<!--                    with compassionate care. </p>-->
                    <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Book an appointment</a>
            </div>

        </div>
    </div>

{% endblock cta %}

{% block content %}
<div>
    <p1>There is 1 available health professional</p1>
 <a class="nav-link" href="https://fir-webchat-bfea5.web.app/">Enter Chatroom</a>
</div>

{% endblock content %}