<div id="snippetContent">
    <link rel="stylesheet"
          href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <div class="container bootstrap snippets bootdeys">

        {% include 'navigation.html' %}
        <div class="row" id="user-profile">
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="main-box clearfix">
                    <h2>{{user.username}}</h2>
                    {% if user.is_authenticated %}
                    <div class="profile-status">
                        <i class="fa fa-check-circle"></i> Online
                    </div>
                    {% else %}
                    <div class="profile-status">
                        <i class="fa fa-times-circle"></i> Offline
                    </div>
                    {% endif %}

                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                         class="profile-img img-responsive center-block">

                    {% if request.user.professional == True %}
                    <div class="profile-label">
                        <span class="label label-danger"> Health Professional</span>
                    </div>
                    {% else %}
                     <div class="profile-label">
                        <span class="label label-danger"> Regular User</span>
                    </div>
                    {% endif %}


                    {% if request.user.professional == False %}
                    <div class="profile-message-btn center-block text-center">
                        <a href="{% url 'appointment'%}" class="btn btn-success">
                            <i class="fa fa-envelope"></i> Book An Appointment </a>
                    </div>
                    {% endif %}
                </div>

            </div>
            <div class="col-lg-9 col-md-8 col-sm-8">
                <div class="main-box clearfix">
                    <div class="profile-header">
                        <h3>
                            <span>User Info</span>
                        </h3>

                    </div>
                </div>
                <div class="row profile-user-info">
                    <div class="col-sm-8">
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label"> First Name: {{request.user.username}}</div>

                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-value"> Email:{{user.email}}</div>
                        </div>


                        {% if request.user.professional == True %}
                        <form class="form-card" method="POST" action="{% url 'profile' %}">
                            {% csrf_token %}
                            <div>
                                    <label for="preference">On Demand:</label>
                                    <br>
                                    <select id="preference" name="preference" size="2">
                                      <option value="Agree">Agree</option>
                                      <option value="Disagree">Disagree</option>
                                    </select>
                            </div>
                            <div>
                                <input type="submit" name="submit">
                            </div>

                        </form>

                        {% endif %}
                        {% if messages %}
                        <div class="card notification-card notification-invitation">
                            <div class="card-body">
                                {% for message in messages %}
                                <div class="card-title">{{message}} </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                    </div>
                    <div class="col-sm-4 profile-social">
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-twitter-square"></i>
                                <a href="#">{{user.username}}</a>
                            </li>
                            <li>
                                <i class="fa-li fa fa-linkedin-square"></i>
                                <a href="#">{{user.username}}</a>
                            </li>
                            <li>
                                <i class="fa-li fa fa-facebook-square"></i>
                                <a href="#">{{user.username}} </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
